*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 100%;
	font-family: Arial;
}

.main{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



nav{
	width: 100%;
	text-align: center;
}
	nav ul{
		list-style: none;
		overflow: hidden;
	}
		nav ul li{
			display: inline-block;
		}
			nav ul li a{
				display: block;
				text-decoration: none;
				margin: 5px;
				padding: 0.5em;
				border: 1px solid;
				border-top: 0;
				font-size: 0.8em;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

			}
				nav ul li a:hover{

				}
				nav ul li a:active{

				}

.datos-paciente{
	width: 100%;
	display: table;
	margin-bottom: 25px;
}
.foto-paciente{
	width: 30%;
	display: table-cell;
	-webkit-box-siaing: border-box;
	-moz-box-siaing: border-box;
	-ms-box-siaing: border-box;
	-o-box-siaing: border-box;
	box-siaing: border-box;
}
	.foto-paciente img{
		width: 100%;
		height: auto;
	}
.nombre-paciente{
	width: 70%;
	display: table-cell;
	vertical-align: middle;
	border: 1px solid;
	padding-left: 1em;
	font-family: "Century Gothic";
	font-size: 1.5em;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}